<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='/gdg.css') }}" rel="stylesheet" />
    <title>DevFolio Hackathons</title>
  </head>
  <body style="background-image: url('../static/tech-bacg.webp')">
    <table class="styled-table">
      <thead>
        <th>Names</th>
        <th>Date and Time</th>
      </thead>
      <tbody>
        {% for eve in ans%}
        <tr>
          <td>{{ eve["Names"] }}</td>
          <td>{{ eve["Date and Time"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>

  
