<html>
  <head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <h1>WELCOME TO HACKATHON PART OF API</h1>
    <div class="short-desc">
      This gives the details of various hackathons. You have a few of them ,
      listed below
    </div>
    <div>
      <ul>
        <li><a href="{{url_for('mlh_hac')}}">MLH Hackathons</a></li>
        <li><a href="{{url_for('devfolio_hac')}}">DevFolio Hackathons</a></li>
        <li><a>EventBrite Hackathons</a></li>
        <li>
          <a href="{{url_for('open_source_all')}}">Open Source Hackathons </a>
        </li>
        <li><a href="{{url_for('comp_coding')}}">Competitive-Coding </a></li>
      </ul>
    </div>
  </body>
</html>
