<html>
  <head>
    <title>API Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <h1>WELCOME TO HACK-API</h1>
    <div class="short-desc">
      This is a perfect spot , if you are looking for an API which provides
      details about various tech events. Beginning with an initial stage of
      development , we have these features.
    </div>
    <div>
      <ul>
        <li><a href="{{url_for('hackathons')}}">Hackathons</a></li>
        <li>
          <a href="{{url_for('gdg_events')}}">Google Developer Group Events</a>
        </li>
        <li><a href="{{url_for('aws_events')}}">AWS Events</a></li>
        <li><a href="{{url_for('microsoft_events')}}">Microsoft Events</a></li>
        <li><a href="{{url_for('ios_events')}}">iOS events</a></li>
        <li>
          <a href="{{url_for('student_dev_support')}}"
            >Student Developer Support</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
